@tailwind base;
@tailwind components;
@tailwind utilities;

/* ABC Marfa Light */
@font-face {
  font-family: "MarfaLight";
  src: url("../fonts/ABCMarfa-Light-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F;
}

/* ABC Marfa Light Italic */
@font-face {
  font-family: "MarfaLightItalic";
  src: url("../fonts/ABCMarfa-LightItalic-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F;
}

/* ABC Marfa Semibold */
@font-face {
  font-family: "MarfaSemibold";
  src: url("../fonts/ABCMarfa-Semibold-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F;
}

/* ABC Marfa Semibold Italic */
@font-face {
  font-family: "MarfaSemiboldItalic";
  src: url("../fonts/ABCMarfa-SemiboldItalic-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F;
}
